<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAPL,PanicInfo000K</key>
	<data>
	OT1hc8FcMRp5pvDV52KXu0y/v+XrtPucqLlgLpjCV5+LXaEq8j2nD99t+HueppeJZXt6
	XE7EXDIF0Jxml+f5Ob3cnrvQ5rmr7B6/yWn3ee5al/H0REzhq8/FrlAV+Z7ToeHxukw3
	ptn0sjwRc8EU/OSzOhWGjIkcDOaiuWQKfvIZRA6TQvZ7vA5NEzNYzCW7wVwxBT/5DCKH
	yZAxIcPhFL76XOwKVbHIYRI6TCZiLpnCV5+LXaEqFjlMJmIumcIXChaNSadVGmwmZK6Y
	whcKFo1Jad1NT7fLCZkrpuAnn8gkMWRMyFwwF0xBitfD8rCbnnaXEzMFaR52k8VvfGIG
	g7lgCuC6jKe7QsFmmD5GJ2IumAtGjin4yee0KazPQ8ZEzBVT+ELBZTk/pb/l5YRM4QtV
	qcRmglazuWQ2mGum8IWCzbc4zS4b0+xy0k0vn+Vpej4Rc8FcNQU/+axOhc3wfB6aEuVp
	e1meiNFqLhkM5pIp+MnndDhNCtnv8Xr4brfDbvKcWLanx+UEDYZzyWow10zBTz6nw2ky
	KB+j0/TymF6Xl5tvcpkdMiZoMJxLVoO5Zgrguoynu4ZveZkqr8/piZjCFwoO5WVy2U1P
	h9nNsDt8LssTMRdM4VuW5e4yW1pmh/PI95yeiCl8oeC0CG2G3eFzWZ6IuWCumMKXfE7Z
	YXsZKn+Py/P5W56IKXyhoJFYXJbzU/pbXk7IcK4ZTOELBYtmc3hcDovZ5dA0EXPBFPzk
	k5pul6d59zhkTNxoMJdMwU8+nWX6/S1fp93nkDExc9EUPmJ6vk62w+fyPEHLzVwwF0zB
	Tz5D05AxIXPFFPzkMyQMGRM2F8wVo5FnCn7yWZ0Kke85PWRMxFwyha8+F7tC1eG73X67
	EzEXTOELBYX1OfR9L8tDw0TMBVPwk09pGf6W00PGBO2m8IWCwSE0CWWH6ea3vJ2wuWIK
	Xyg4bQ4TM1fMlVPwk0/oMBkyJmSunIKffAaH0GTImIi5aArgujx2MdPidiKmAK7LYxec
	jpaX
	</data>
	<key>AAPL,PanicInfo000L</key>
	<data>
	w+RETAFcl8eu8VteHsvzcPo7EXPBFAAAAAAAAAA=
	</data>
	<key>Clover.NVRamDisk</key>
	<data>
	Tm8=
	</data>
	<key>Clover.SoundDevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAMfAwoYAOs/AKkG2NtBpJFUBf7vRsMAAAAAf/8EAA==
	</data>
	<key>Clover.SoundIndex</key>
	<data>
	AA==
	</data>
	<key>Clover.Theme</key>
	<data>
	QkdN
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>IONVRAM-SYNCNOW-PROPERTY</key>
	<data>
	SU9OVlJBTS1TWU5DTk9XLVBST1BFUlRZ
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Pg==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	7g==
	</data>
	<key>asus-keyboard-backlight</key>
	<data>
	EAA=
	</data>
	<key>backlight-level</key>
	<data>
	//8=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	ljTTEwAAAABwFPADjE25Tg==
	</data>
	<key>boot-args</key>
	<string>-v keepsyms=1 debug=0x100 alcid=99</string>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkE5NjMzRDY4LUVB
	RUMtNDc2QS05QTM0LTExNzZENTk0MjA4Mzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcU21jRmxhc2hlci5lZmk8L3N0cmluZz48L2RpY3Q+
	PC9hcnJheT4A
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAAAgAAAAAAAAAIAMAAAAA
	AGg9Y6ns6mpHmjQRdtWUIIMCAgQEZABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABTAG0AYwBGAGwAYQBz
	AGgAZQByAC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkE5NjMzRDY4LUVB
	RUMtNDc2QS05QTM0LTExNzZENTk0MjA4Mzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLTY2RTM1ODE5RUUyRDBEMDUuc21jPC9zdHJp
	bmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAAAgAAAAAAAAAIAMAAAAA
	AGg9Y6ns6mpHmjQRdtWUIIMCAgQEeABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABNAGEAYwAtADYANgBF
	ADMANQA4ADEAOQBFAEUAMgBEADAARAAwADUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkE5NjMzRDY4LUVB
	RUMtNDc2QS05QTM0LTExNzZENTk0MjA4Mzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl9iYXNlLnNtYzwvc3RyaW5nPjwvZGlj
	dD48L2FycmF5PgA=
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAAAgAAAAAAAAAIAMAAAAA
	AGg9Y6ns6mpHmjQRdtWUIIMCAgQEaABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AYgBhAHMAZQAuAHMAbQBjAAAAf/8EAA==
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkE5NjMzRDY4LUVB
	RUMtNDc2QS05QTM0LTExNzZENTk0MjA4Mzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9k
	aWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAAAgAAAAAAAAAIAMAAAAA
	AGg9Y6ns6mpHmjQRdtWUIIMCAgQEbABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AdQBwAGQAYQB0AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload4</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkE5NjMzRDY4LUVB
	RUMtNDc2QS05QTM0LTExNzZENTk0MjA4Mzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLTY2RTM1ODE5RUUyRDBEMDUuZXBtPC9zdHJp
	bmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload4-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAAAgAAAAAAAAAIAMAAAAA
	AGg9Y6ns6mpHmjQRdtWUIIMCAgQEeABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABNAGEAYwAtADYANgBF
	ADMANQA4ADEAOQBFAEUAMgBEADAARAAwADUALgBlAHAAbQAAAH//BAA=
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjI5NTAwM0Y2LTE4
	NUMtNEJFRS05QTA1LUExMDFFRjNGRDg4Nzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMnMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XDlENURCODBDLTQx
	NDEtNDAzOS1BODVFLURFREFEMEY2MzNFMFxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vydmlj
	ZXNcYm9vdC5lZmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAAAwAvYNAAAA
	AM1Ux5ehVqFBow+P6QSvFY0CAgQDJAD3/HS+fAvzSZFHAfQELmhC9gNQKVwY7kuaBaEB
	7z/YhwQEmgBcADkARAA1AEQAQgA4ADAAQwAtADQAMQA0ADEALQA0ADAAMwA5AC0AQQA4
	ADUARQAtAEQARQBEAEEARAAwAEYANgAzADMARQAwAFwAUwB5AHMAdABlAG0AXABMAGkA
	YgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBm
	AGkAAAB//wQA
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkQ4NEIwN0Y3LUI4
	ODktNEVGQi05OTY5LUY0RDRFRjIyODY2RTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMjJzMjwvc3RyaW5nPjwvZGlj
	dD48ZGljdD48a2V5PklPRUZJRGV2aWNlUGF0aFR5cGU8L2tleT48c3RyaW5nPk1lZGlh
	RmlsZVBhdGg8L3N0cmluZz48a2V5PlBhdGg8L2tleT48c3RyaW5nPlxFM0EyRDMzQy04
	M0EwLTRGMEEtQUFEMS1FQTM2RkE4MUQwNkZcU3lzdGVtXExpYnJhcnlcQ29yZVNlcnZp
	Y2VzXGJvb3QuZWZpPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgADAAAAWEL8DQAAAAAwAvYNAAAA
	AHnJniq/K/NJishwUu9HxyoCAgQDJAD3/HS+fAvzSZFHAfQELmhC9wdL2Im4+06ZafTU
	7yKGbgQEmgBcAEUAMwBBADIARAAzADMAQwAtADgAMwBBADAALQA0AEYAMABBAC0AQQBB
	AEQAMQAtAEUAQQAzADYARgBBADgAMQBEADAANgBGAFwAUwB5AHMAdABlAG0AXABMAGkA
	YgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBm
	AGkAAAB//wQA
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAHQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-CLKH-{clh</key>
	<data>
	AABwgAABGUA=
	</data>
	<key>fakesmc-key-CLKT-ui32</key>
	<data>
	AACPqg==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	B6AHAA==
	</data>
	<key>fakesmc-key-HE0N-ui8</key>
	<data>
	EA==
	</data>
	<key>fakesmc-key-HI0N-ui8</key>
	<data>
	Dw==
	</data>
	<key>fakesmc-key-HI1N-ui8</key>
	<data>
	Dw==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSDW-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPC-ui8</key>
	<data>
	EA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTS-ui8</key>
	<data>
	Bg==
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-NATJ-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-NATi-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-NTOK-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-QENA-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajE2ajE3AAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhUPAAAH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajE3AGEAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	Y2hp4oCZcyBNYWNCb29rIFBybw==
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly8yOUZBMDg3RC00RTczLTRDNzUtQTE5Qy03NjdDQjc1OTQ0M0Uv
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>multiupdater-retry-limits</key>
	<data>
	AQAAAAEAAAAAAAAA
	</data>
	<key>multiupdater-state</key>
	<data>
	AQAAAAEAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>nvda_drv</key>
	<data>
	MQA=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
	<key>previous-system-uuid</key>
	<data>
	MjlGQTA4N0QtNEU3My00Qzc1LUExOUMtNzY3Q0I3NTk0NDNF
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEA//8AAAQBKgADAAAAWEL8DQAAAAAwAvYNAAAA
	AHnJniq/K/NJishwUu9HxyoCAgQDJAD3/HS+fAvzSZFHAfQELmhCPNOi46CDCk+q0eo2
	+oHQb3//BAA=
	</data>
	<key>wake-failure</key>
	<data>
	AAAAAAA=
	</data>
</dict>
</plist>